.circle-all{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    border-radius: 50%;
}
.main{
height: 600px;
width: 100%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-around
}
[class*=circle]{
    @extend .circle-all;
    display: flex;

}
.circle-1{
    background-color: red;
}
.circle-2{
    background-color: yellow;
}
.circle-3{
    background-color: orange;
}
.big{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 50%;
}
